.card {
  position: relative;
  height: 28.125rem;
  width: 56.25rem;
  margin: 12.5rem auto;
  background-color: rgb(245, 245, 245);
  border-radius: 0.125rem;
}

.thumbnail {
  float: left;
  position: relative;
  left: 1.875rem;
  top: -1.875rem;
  height: 20rem;
  width: 32rem;
  box-shadow: 0.625rem 0.625rem 3.75rem 0rem rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 0.125rem;
}

img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.right {
  margin-left: 36rem;
  margin-right: 1.25rem;
}

h1 {
  padding-top: 1.25rem;
  margin: 0;
  color: #4a4e69;
}

.gh {
  margin: 1.25rem;
  cursor: pointer;
  color: #9a8c98;
}

.youtube {
  margin: 1.25rem;
  cursor: pointer;
  color: #9a8c98;
}

.separator {
  margin-top: 0.625rem;
  border: 0.0625rem solid #c3c3c3;
}

.description {
  text-align: justify;
  padding-top: 0.625rem;
  font-size: 1rem;
  color: #4b4b4b;
  line-height: 150%;
}

.icons {
  margin-right: 15.625rem;
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
  padding-inline-start: 2.5rem;
}

.tech {
  position: absolute;
  background-color: #9ecaff;
  left: 3rem;
  bottom: 3rem;
  width: 30rem;
}
