.card {
  position: relative;
  height: 448px;
  width: 896px;
  margin: 200px auto;
  background-color: rgb(245, 245, 245);
  border-radius: 2px;
}

.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 512px;

  box-shadow: 8px 8px 60px 0 rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 2px;
}

img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.right {
  margin-left: 576px;
  margin-right: 20px;
}

h1 {
  padding-top: 20px;
  margin: 0;
  color: #82716e;
}

.gh {
  margin: 20px;
  cursor: pointer;
  color: #c2b490;
}

.youtube {
  margin: 20px;
  cursor: pointer;
  color: #c2b490;
}

.separator {
  margin-top: 10px;
  border: 1px solid #c2b490;
}

.description {
  text-align: justify;
  padding-top: 10px;
  font-size: 16px;
  color: #82716e;
  line-height: 150%;
}

.icons {
  margin-right: 250px;
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.tech {
  color: #82716e;
  position: absolute;
  left: 48px;
  bottom: 32px;
  width: 800px;
}

.tech-title {
  font-weight: bold;
}
