.h1 {
  margin: 2rem 0;
  font-size: 50px;
  letter-spacing: 3px;
  color: #4a4e69;
}

.form {
  border-color: rgb(245, 245, 245);
  border-style: double;
  width: 55%;
  position: absolute;
  left: 50%;
  transform: translate(-34%);
  padding: 70px;
  font-weight: 300;
  letter-spacing: 1px;
}

.form form {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.name {
  width: 25rem;
  margin: 0.75rem auto;
  height: 25px;
  background-color: rgb(245, 245, 245);
  outline: none;
  border-width: 1px;
  border-color: rgba(75, 78, 105);
  border-radius: 0.125rem;
  box-shadow: 0 0.125rem 0.125rem rgba(75, 78, 105, 0.75);
}

.email {
  width: 25rem;
  margin: 0.75rem auto;
  height: 25px;
  background-color: rgb(245, 245, 245);
  outline: none;
  border-width: 1px;
  border-color: rgba(75, 78, 105);
  border-radius: 0.125rem;
  box-shadow: 0 0.125rem 0.125rem rgba(75, 78, 105, 0.75);
}

.textarea {
  width: 25rem;
  margin: 0.75rem auto;
  height: 100px;
  resize: none;
  background-color: rgb(245, 245, 245);
  outline: none;
  border-width: 1px;
  border-color: rgba(75, 78, 105);
  border-radius: 0.125rem;
  box-shadow: 0 0.125rem 0.125rem rgba(75, 78, 105, 0.75);
}
