.h1 {
  margin: 2rem 0;
  font-size: 50px;
  letter-spacing: 3px;
  color: #82716e;
}

.form {
  color: #82716e;
  border-color: #c2b490;
  border: solid 4px rgb(245, 245, 245);
  width: 55%;
  position: absolute;
  left: 50%;
  transform: translate(-34%);
  padding: 70px;
  font-weight: 300;
  letter-spacing: 1px;
}

.form form {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.name {
  color: #82716e;
  padding: 10px;
  font: inherit;
  resize: none;
  width: 25rem;
  margin: 0.75rem auto;
  height: 25px;
  outline: none;
  background-color: transparent;
  border-width: 2px;
  border-color: #c2b490;
}

.name::placeholder {
  color: #82716e;
  letter-spacing: 0.125rem;
}

.email {
  color: #82716e;
  padding: 10px;
  font: inherit;
  resize: none;
  width: 25rem;
  margin: 0.75rem auto;
  height: 25px;
  outline: none;
  background-color: transparent;
  border-width: 2px;
  border-color: #c2b490;
}

.email::placeholder {
  color: #82716e;
  letter-spacing: 0.125rem;
}

.message {
  color: #82716e;
  padding: 10px;
  font: inherit;
  width: 25rem;
  margin: 0.75rem auto;
  height: 100px;
  outline: none;
  resize: none;
  background-color: transparent;
  border-width: 2px;
  border-color: #c2b490;
}

.message::placeholder {
  color: #82716e;
  letter-spacing: 0.125rem;
}
