.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  transform: translate(0%, 15%);
}

.intro-description {
  flex-grow: 1;
  padding: 15px;
  width: 50%;
  position: relative;
  font-size: 15px;
  text-align: left;
}

.intro p span {
  float: left;
  margin: 1.625rem 1.25rem 1.25rem 0;
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(245, 245, 245);
}

.about {
  text-align: justify;
  padding-top: 1rem;
  font-size: 1rem;
  color: #4b4b4b;
  line-height: 150%;
  letter-spacing: 1px;
}
