/* About Section */

.intro {
  width: 75%;
  margin: 100px auto;
  padding: 32px;
}

.intro__text {
  margin-top: 32px;
  color: #82716e;
  text-align: left;
  line-height: 26px;
  top: 0;
  column-count: 2;
  column-gap: 64px;
  column-rule: 2px solid #c2b490;
  hyphens: auto;
}

/* Image */

.intro__shape {
  margin-top: 32px;
  position: relative;
  /* must use all the properties belowe to text that circles around image */
  width: 240px;
  height: 240px;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% 50% at 50% 50%);
  transform: translateX(400px);
}

.intro__img {
  height: 100%;
  transform: translateX(8px) scale(1.4);
  backface-visibility: hidden;
}
