.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  transform: translate(0%, 15%);
}

.intro-description {
  flex-grow: 1;
  padding: 15px;
  width: 50%;
  position: relative;
  font-size: 15px;
  text-align: left;
}

.intro p span {
  float: left;
  margin: 26px 20px 20px 0;
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(245, 245, 245);
}

p {
  letter-spacing: 1px;
  color: #4a4e69;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
