.home {
  width: 75%;
  position: absolute;
  left: 60%;
  transform: translate(-50%, 55%);
}

.home__heading {
  margin: 42px;
  padding-bottom: 16px;
  color: #4a4e69;
}

.h1 {
  font-weight: 100;
}

.h2 {
  font-weight: 300;
  letter-spacing: 2px;
}

.home__links {
  margin: 12px;
}

.home__button {
  padding: 12px;
  margin: 12px;
  border-radius: 1px;
  letter-spacing: 2px;
  border: 2px solid rgb(245, 245, 245);
  /* transition: all 0.3s ease-in-out; */
}

.home__button:hover {
  background-color: rgb(245, 245, 245, 0.75);
  /* transform: translateY(-2px);
  transition: all 0.3s ease-in-out; */
}
