.footer {
  margin: 0.75rem;
  padding: 0.75rem;
}

.github {
  margin: 20px;
  cursor: pointer;
  color: rgba(245, 245, 245);
}

.medium {
  margin: 20px;
  cursor: pointer;
  color: rgba(245, 245, 245);
}

.linkedin {
  margin: 20px;
  cursor: pointer;
  color: rgba(245, 245, 245);
}
