.footer {
  margin: 12px;
  padding: 12px;
}

.github {
  margin: 20px;
  cursor: pointer;
  color: rgba(245, 245, 245);
}

.medium {
  margin: 20px;
  cursor: pointer;
  color: rgba(245, 245, 245);
}

.linkedin {
  margin: 20px;
  cursor: pointer;
  color: rgba(245, 245, 245);
}
