.home {
  width: 75%;
  position: absolute;
  left: 60%;
  transform: translate(-50%, 50%);
}

.home__heading {
  margin: 2.62rem;
  padding-bottom: 1rem;
  color: #4a4e69;
}

hr {
  border-top: 0.0625rem solid rgb(245, 245, 245);
}

.h1 {
  font-weight: 100;
}

.h2 {
  font-weight: 300;
  letter-spacing: 0.125rem;
}

.home__links {
  margin: 0.75rem;
}

.home__button {
  padding: 0.75rem;
  margin: 0.75rem;
  border-radius: 0.0625rem;
  letter-spacing: 0.125rem;
  border: 0.125rem solid rgb(245, 245, 245);
  transition: all 0.3s ease-in-out;
}

.home__button:hover {
  background-color: rgb(245, 245, 245, 0.75);
}
