.home {
  width: 75%;
  position: absolute;
  left: 60%;
  transform: translate(-50%, 50%);
}

.home__heading {
  margin: 2.62rem;
  padding-bottom: 1rem;
}

hr {
  border-top: 0.0625rem solid #c2b490;
}

.home__heading--h1 {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #82716e;
}

.home__heading--h2 {
  font-weight: 300;
  letter-spacing: 0.125rem;
  color: #82716e;
}

.home__links {
  margin: 0.75rem;
}

.home__button {
  padding: 0.75rem;
  margin: 0.75rem;
  border-radius: 0.0625rem;
  letter-spacing: 0.125rem;
  border: 0.125rem solid #c2b490;
  transition: all 0.3s ease-in-out;
}

.home__button:hover {
  background-color: rgb(245, 245, 245, 0.75);
}
