.home {
  margin-top: 250px;
}

.home__heading {
  margin: 42px;
  padding-bottom: 16px;
}

hr {
  border-top: 1px solid #c2b490;
  width: 75%;
}

.home__heading--h1 {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #82716e;
}

.home__heading--h2 {
  font-weight: 300;
  letter-spacing: 2px;
  color: #82716e;
}

.home__links {
  margin: 12px;
}

.home__button {
  padding: 12px;
  margin: 12px;
  border-radius: 1px;
  letter-spacing: 2px;
  border: 2px solid #c2b490;
  transition: all 0.3s ease-in-out;
}

.home__button:hover {
  background-color: rgb(245, 245, 245, 0.75);
}
