/* body {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
} */

.header {
  z-index: 1;
  height: 100px;
  width: 100%;
  position: sticky;
  background-color: rgba(245, 245, 245, 0.8);
  border-bottom: 0.375rem solid #4a4e69;
}

/* buttons */

.submit__button {
  width: 410px;
  font-size: 16px;
  color: #4a4e69;
  background: none;
  padding: 0.75rem;
  margin: 0.75rem;
  border-radius: 1px;
  letter-spacing: 0.125rem;
  border: 0.125rem solid rgb(245, 245, 245);
  transition: all 0.3s ease-in-out;
}

.submit__button:hover {
  background-color: rgb(245, 245, 245, 0.75);
}
