.header {
  z-index: 1;
  height: 100px;
  width: 100%;
  position: sticky;
  background-color: rgb(245, 245, 245);
  border-bottom: 0.375rem solid #82716e;
}

/* buttons */

.submit__button {
  width: 423px;
  font-size: 16px;
  color: #82716e;
  background: none;
  padding: 12px;
  margin: 0.75rem;
  border-radius: 1px;
  letter-spacing: 0.125rem;
  border: 2px solid #c2b490;
  transition: all 0.3s ease-in-out;
}

.submit__button:hover {
  background-color: rgb(245, 245, 245, 0.75);
}
