.header {
  z-index: 1;
  height: 100px;
  width: 100%;
  position: sticky;
  background-color: rgba(245, 245, 245, 0.8);
  border-bottom: 5px solid #4a4e69;
}

/* buttons */

.submit__button {
  width: 410px;
  font-size: 16px;
  color: #4a4e69;
  background: none;
  padding: 12px;
  margin: 12px;
  border-radius: 1px;
  letter-spacing: 2px;
  border: 2px solid rgb(245, 245, 245);
  /* transition: all 0.3s ease-in-out; */
}

.submit__button:hover {
  background-color: rgb(245, 245, 245, 0.75);
  /* transform: translateY(-2px);
  transition: all 0.3s ease-in-out; */
}
