body {
  margin: 0;
  margin-left: 300px;
  text-align: center;
  padding: 0;
  background-color: #d4bdb9;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
